<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrandPYBot</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Marcellus">
    <link rel="stylesheet" href="../static/assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="../static/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="../static/assets/css/Newsletter-Subscription-Form.css">
    <link rel="stylesheet" href="../static/assets/css/Social-Icons.css">
    <link rel="stylesheet" href="../static/assets/css/styles.css">
</head>

<body style="background-size:cover;background-image:url(&quot;../static/assets/img/316e66fba855dc2f851d2c172b14040b.jpg&quot;);">
<header>
    <div class="container">
        <div class="row" style="height:191px;">
            <div class="col-lg-3 offset-lg-0"><img
                    style="background-image:url(&quot;../static/assets/img/logo-transparent.png&quot;);width:100%;height:100%;background-size:cover;">
            </div>
            <div class="col offset-lg-1">
                <h1 style="font-family:Marcellus, serif;margin-top:80px;"><strong><em>I will tell you the story....</em></strong>
                </h1>
            </div>
        </div>
    </div>
</header>
<section style="margin-top:83px;padding-left:314px;">
    <form id="questionpapy">
        <div class="container">
            <div class="form-group">
                <div class="form-row">
                    <div class="col"><label class="col-form-label" for="question" id="loadSiteHello"></label></div>
                </div>
                <div class="form-row">
                    <div class="col"><input class="form-control" type="text" autofocus="" id="question"
                                            style="color:rgb(177,11dffdf9,65);"></div>
                    <div class="col">
                        <button class="btn btn-primary" type="submit"
                                style="background-color:rgb(122,65,24);font-family:Marcellus, serif;">Ask me
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<footer style="margin-top:352px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 offset-lg-2">
                <p style="font-family:Marcellus, serif;background-color:rgba(238,188,58,0);color:rgb(193,125,76);">
                    <strong><em>De Sélys Pascal</em></strong></p>
            </div>
            <div class="col offset-lg-0"><a href="https://github.com/scwall/grandpybot"><i class="fa fa-github-square"
                                                                                           style="font-size:36px;color:rgb(193,125,76);"></i></a><a
                    href="https://github.com/scwall/grandpybot"><i class="fa fa-facebook-square"
                                                                   style="font-size:36px;color:rgb(193,125,76);margin-left:30px;"></i></a>
            </div>
        </div>
    </div>
</footer>
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/assets/js/loadsite.js"></script>
<script src="../static/assets/js/post.question.grandpy.js"></script>
</body>

</html>